@import "tailwindcss";

/* Outlined text for statistics */
.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #555;
  text-stroke: 2px #555;
}
 

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%); /* Adjust based on number of content duplicates */
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite; /* Adjust duration for speed */
  width: fit-content; /* Ensure content takes its natural width */
}

 
